{% extends 'layout.html.twig' %}

{% block title %}Cambiar contraseña{% endblock %}

{% block contenido %}
<div class="container" style="max-width: 500px;">

    <div class="card shadow p-4">
        <h3 class="mb-4">Cambiar contraseña</h3>

        {% if error %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endif %}

        <form method="post">

            <div class="mb-3">
                <label class="form-label">Nueva contraseña</label>
                <input type="password"
                       name="password"
                       class="form-control"
                       required>
            </div>

            <button class="btn btn-primary w-100">
                Cambiar contraseña
            </button>

        </form>
    </div>

</div>
{% endblock %}